.carData{
    display: flex;
}

.carTypes > p, .carFeatures > p{
    width: 80px;
    height: 80px;
    opacity: 0.6;
    border: solid black 3px;
    display: inline-block;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    cursor: pointer;
    user-select: none;
}

.carTypes{
    padding: 5px;
    width: 300px;
    border: black solid 2px;
    margin-right: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.carFeatures{
    padding: 5px;

    width: 650px;
    border: black solid 2px;
    display: grid;

    grid-template-columns: repeat(6, 1fr);

}

.activeFeature{
    border: black solid 2px;
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.2);
    opacity: 1 !important;
    background-color: lightblue;
    font-weight: 700;

}

.activeType{
    border: black solid 2px;
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.2);
    opacity: 1 !important;
    background-color: lightblue;
    font-weight: 700;

}

.mainDetailsForm * label{
    margin-right: 15px;
}
.hostForm{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titleForm, .descriptionForm, .mainDetailsForm{
    height: 30px;
    width: 50%;
    margin-bottom: 20px;
}

.titleFormLabel, .descriptionFormLabel{
    width: 50%;
    height: 30px;

}

.mainDetailsForm{
    display: flex;
    justify-content: space-around;
}







.formSubmit{
    position: relative;
    left: 430px;
    top: 25px;
    border: black solid 1px;
    background-color: white;
    padding: 15px 35px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
}

.addImageDiv{
    margin-top: 40px;
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}



.addImageDiv label{

    margin: 25px;
}

.mainImagesDiv{
    display: flex;
    flex-direction: row;
}
.imagesDiv{
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.2);
    margin-top: 100px;
    margin-left: 20px;
    width: 200px;
}

.images{
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.2);
    width: 50px;
    height: 50px;
    margin: 5px;
}


.pictureModal{
    position: fixed;
    width: 800px;
    height: 500px;
    background-color: lightblue;
    z-index: 2;
    left: 500px;
    top: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.arrow{
    transform: scale(5);
    cursor: pointer;
}

.left{
    position: relative;
    left: 50px;
}
.right{
    position: relative;
    right: 50px;
}

.scrollImage{
    width: 500px;
    height: 500px;
}
