.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    margin: 0;
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 1;
    border: solid rgba(0, 0, 0, 0.1) 2px;
    width: 100%;
}

.navbar li{
    list-style: none;
}

.home{
    text-decoration: none;
    color: rgb(255, 56, 92);
    font-size: 20px;
    height: 100px;
    font-weight: 900;

}

.navButton{
    position: relative;
    right: 170px;
    border: black solid 1px;
    background-color: white;
    padding: 5px 10px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
}

.navButton i{
    padding: 5px;
}

.dropMenu{
    background-color: white;
    position: fixed;
    top: 60px;
    right: 150px;
    border-radius: 15px;
    list-style: none;
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.2);
    padding-left: 5px;
    padding-right: 5px;
}

.dropMenu h3{
    font-size: 15px;
    font-weight: 300;
    padding-left: 10px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.dropMenu h3:hover{
    background-color: lightblue;
    cursor: pointer;
}
