li{
    cursor: pointer;
}

.navbar{
    border: solid black 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    margin: 0;
}
.navbar li{
    list-style: none;
}
.home{
    text-decoration: none;
    color: rgb(255, 56, 92);
    font-size: 20px;
    height: 100px;
    font-weight: 900;

}
.navButton{
    position: relative;
    right: 170px;
    border: black solid 1px;
    padding: 5px;
    border-radius: 30%;
    width: 50px;
}
.navButton i{
    padding: 5px;
}

.dropMenu{
    position: absolute;
    right: 150px;
    top: 55px;
    border: solid black 2px;
    padding: 0;
}

.dropMenu li{
    position: relative;
    padding: 0;
    margin: 0;
    width: 100%;
}

.dropMenu li:hover{
    background-color: lightblue;
}
