

.navbar{
    border: solid black 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    margin: 0;
    position: sticky;
    top: 0;

}
.navbar li{
    list-style: none;
}
.home{
    text-decoration: none;
    color: rgb(255, 56, 92);
    font-size: 20px;
    height: 100px;
    font-weight: 900;

}
.navButton{
    position: relative;
    right: 170px;
    border: black solid 1px;
    padding: 5px;
    border-radius: 30%;
    width: 50px;
    background-color: white;
}
.navButton i{
    padding: 5px;
}

.dropMenu{
    box-sizing: border-box;
    position: absolute;
    right: 150px;
    top: 54px;
    border-top: solid black 2px;
    border-bottom: solid black 2px;
    border-left: solid black 2px;
    border-right: solid black 12px;
    padding: 0;
}
.dropMenu .breakLine{
    border-top: solid black 1px;
    height: 0px;
    padding: 0px;
    margin: 0;
}
.dropMenu li{
    position: relative;
    background-color: white;
    border-right: black solid 2px;
    padding: 5px;
    margin: 0;
    width: 100%;
    cursor: pointer;
}

.dropMenu li:hover{
    background-color: lightblue;
}
