.mainSpotPage{
    display: flex;
    flex-direction: column;
    align-items: center;
}



.spotHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div.title{
    display: flex;
    width: 900px;
    position: relative;
}

.editDeleteLinks{
    position: relative;
    right: 150px;
    bottom: 15px;
    display: flex;
    width: 200px;
    flex-direction: row;
    justify-content: space-between;


}

.editDeleteLinks h1{
    padding: 15px 40px;
    border-radius: 25px;
    margin-left: 15px;
}

.spotImage{
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.2);
    width: 1000px;
    height: 700px;
    margin: 25px;
}

.editDeleteLinks h1:hover{
    background-color: lightblue;
    cursor: pointer;
}


.arrow.left{
    position: relative;
    padding: 0px 50px 0px 35px;
}

.arrow.right{
    padding: 0px 35px 0px 50px;
}

.scrollImages{
    background-color: lightblue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.bottomSide{
    display: flex;
    width: 100%;
    flex-direction: row;
    position: relative;
    left: 380px;
}

.spotFeatures{
    display: flex;
    flex-direction: column;
}

.feature{
    width: 500px;
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 25px;
    margin-top: 25px;
}
.feature i{
    height: min-content;
    margin-left: 25px;
    transform: scale(2);
}

.featureText{
    padding-left: 50px;
}

.reviewDiv{
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.2);
    width: 500px;
    position: relative;
    left: 20px;
    top: 50px;
    margin-bottom: 25px;
    border-radius: 25px;
    display: flex;
}
.authorPhotoDiv{
    /* border: solid 5px; */
    display: flex;
    align-items: center;
    width: 60px;
    justify-content: flex-end;

}

.authorPhoto{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.topOfReview{
    /* border: solid black 5px; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 35px;
    margin: 0;
    width: 400px;
}

p.date, p.username{
    margin: 0;
}

.review{
    text-align: left;
    /* position: relative;
    left: 25px; */
    padding-left: 38px;
    width: 380px;
    margin-bottom: 8px;

}

.editReviewLinks{
    /* border: solid black 5px; */
    display: flex;
    justify-content: flex-end;
    /* height: 15px;
    align-items: center; */
    margin-bottom: 8px;
    margin-right: 7px;

}

.editReviewLink{
    cursor: pointer;
    margin: 0 5px;
    padding: 0;
}
.editReview{
    position: relative;
    left: 10px;
    display: flex;
    flex-direction: column;
    width: 480px;

}
.editReview textarea{
    width: 450px;
    overflow-y: auto;
    overflow-wrap: break-word;
    height: 120px;
    border: solid 2px;
    margin-top: 20px;
    resize: none;
}

.editReview *{
    padding: 4px;
    margin: 10px;
}

.editReview button{
    border-radius: 25px;
    cursor: pointer;
    width: 200px;
}

.newReview{
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.2);
    position: relative;
    top: 25px;
    padding-bottom: 25px;
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    width: 500px;
}

.newReview * {
    padding: 5px;
    margin: 5px;
}

.newReview textarea{
    border: solid 2px;
    height: 15px;
    resize: none;
}

.resizeTextAreaUp{
    animation-fill-mode: forwards;
    animation-duration: .7s;
    animation-name: textareaUp;
}

.resizeTextAreaDown{
    animation-fill-mode: forwards !important;
    animation-duration: .7s;
    animation-name: textareaDown;
}

.newReview button{
    border-radius: 25px;
    cursor: pointer;
}


.deleteModal{
    box-shadow: 0 0 0 70vmax rgba(0,0,0,0.5);
    z-index: 2;
    background-color: lightblue;
    position: fixed;
    left: 600px;
    top: 300px;
    border: solid black 5px;
    width: 700px;
    height: 300px;
}

.deleteModalTitle{
    font-size: 35px;
    text-align: center;
}

.deleteModal button{
    padding: 25px 100px;
    border-radius: 35px;
    font-size: 50px;
    position: relative;
    cursor: pointer;
}

.yesDelete{
    left: 50px;
}
.noDelete{
    left: 100px;
}

.errorModal{
    border: solid black 2px;
    width: 300px;
    height: 100px;
    background-color: white;
    position: fixed;
    right: 800px;
    z-index: 2;
    bottom: 1300px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.errorModal h2{
    text-align: center;
}

.move{
    animation-duration: 5s;
    animation-name: slidein;
}

@keyframes textareaDown{
    from {
        height: 15px;
    }

    to{
        height: 120px;
    }
}

@keyframes textareaUp{
    from{
        height: 120px
    }

    to{
        height: 15px;
    }
}

@keyframes slidein {
    from {
      bottom: 1000px;
    }

    50% {
      bottom: 800px;
    }

    to {
      bottom: 1000px;
    }
  }
