#parent {
    position: absolute;
	display: flex;
	justify-content: center;
	padding-top: 300px;
    padding-bottom: 300px;
    padding-left: 500px;
    padding-right: 500px;
}
form {
	width: 750px;
	display: flex;
	flex-direction: column;
	border: solid grey 5px;
}

form button {
	width: 200px;
}

form > * {
	margin: 25px;
}

form label {
	width: 50%;
	display: flex;
	justify-content: space-between;
}
